.App {
  text-align: center;
  background-image: -moz-linear-gradient();
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(18, 18, 18);
}


.Allpeople {
  border: solid px;
}

.FindPerson {
  border: solid px;
}
.Addperson {
  border: solid px;
}

h1 {
  color:rgb(220, 81, 17);

}
div {

  background: rgba(22, 172, 198, 0.3);

}