.App {
  text-align: center;
}

.Updatecontact {
  text-align: center;
}


.Allpeople {
  border: solid px;
}

.FindPerson {
  border: solid px;
}
.Addperson {
  border: solid px;
}

h1 {
  color:rgb(213, 224, 48);

}
div {

  background: rgba(189, 228, 241, 0.3);

}